<% if (theme.busuanzi && theme.busuanzi.enable && !index && theme.busuanzi.article_visit){ %>
        <%# "不蒜子统计" %>
        <span id="busuanzi_container_page_pv" style='display:none' class="<%= class_name %>">
              <i class="icon-smile icon"></i> 阅读数：<span id="busuanzi_value_page_pv"></span>次
        </span>
<% } %>
<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><i class="icon-calendar icon"></i><%= date(post.date, date_format) %></time>
</a>
