<% if (!index && theme.gitment_owner){ %>
  <div id="gitment-ctn"></div>
  <% if (theme.gitment_remote){ %>
    <link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">
    <script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <% } else { %>
    <!-- 中文 -->
    <link rel="stylesheet" href="<%- url_for('lib/gitment.css') %>">
    <script src="<%- url_for('lib/gitment.js') %>"></script>
  <% } %>
  <script>
    <!-- id: "<%= page.title %>" -->
    var gitment = new Gitment({
      id: "<%=page.date.format('YYYYMMDDHHmmss')%>",
      owner: '<%=theme.gitment_owner%>',
      repo: '<%=theme.gitment_repo%>',
      oauth: {
        client_id: '<%=theme.gitment_oauth.client_id%>',
        client_secret: '<%=theme.gitment_oauth.client_secret%>',
      },
    })
    gitment.render('gitment-ctn')
  </script>
<% } %>
