<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <div id="container" q-class="show:isCtnShow">
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" q-class="show:isShow">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
      <% if (theme.github && theme.github.url){ %>
      <%# "GitHub Ribbons" %>
      <a class="forkMe" style="position:absolute;z-index:999;top:0;right:0.5em;" 
        href="<%=theme.github.url%>" target="_blank">
        <img src="<%- url_for('img/forkme.png') %>"
          class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
      <% } %>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap">
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1"
              class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
          </div>
        </div>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/viewer') %>
  </div>

  <%- partial('_partial/hover-effect', {
        global: theme.hover_effect.global
      }) %>
  <%- partial('_partial/activate-power-mode') %>
  <%# "背景图片：https://github.com/hustcc/ribbon.js" %>
  <!-- <script async type="text/javascript" size="90" alpha="0.2" zIndex="0" src="<%- url_for('plugins/ribbon.js/ribbon.min.js') %>"></script> -->
  <%# "Live2D看板娘：https://github.com/JoeyBling/live2d-widget.js" %>
  <% if (theme.live2d && theme.live2d.enable){ %>
    <%- partial('_partial/live2d-widget') %>
  <% } %>
  <% if (theme.snow){ %>
  <script type="text/javascript" src="<%- url_for('lib/snow.js') %>"></script>
  <script type="text/javascript" src="<%- url_for('lib/jquery-2.1.4.min.js') %>"></script>
  <script>
    snow.down();
    $(window).resize(function() {
      $("canvas").css("z-index","500").remove();
      snow.down();
    });
  </script>
  <% } %>
</body>

</html>
