<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %> <a href="<%- yilia_plus_full_url('/') %>" target="_blank"><%= config.author || config.title %></a>
    	</div>
      	<div class="footer-right">
			<%# "页脚 Litten(此配置项已弃用)" %>
			<% var defaultFooter = 'GitHub:<a href="https://github.com/JoeyBling/hexo-theme-yilia-plus" target="_blank">hexo-theme-yilia-plus</a>'; %>
      		<%-defaultFooter %> by Litten
      	</div>
    </div>
  </div>
  
  <% if (theme.busuanzi && theme.busuanzi.enable){ %>
	<script src="<%- url_for('lib/busuanzi.pure.js') %>"></script>
	<%# "<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>" %>
  <% } %>
  <% if (theme.busuanzi && theme.busuanzi.enable && theme.busuanzi.site_visit){ %>
	<%# "不蒜子统计" %>
	<span id="busuanzi_container_site_pv" style="display:none">
		本站总访问量<span id="busuanzi_value_site_pv"></span>次	
	        <span class="post-meta-divider" >|</span>
	</span>
  	<span id="busuanzi_container_site_uv" style='display:none'>
  		本站访客数<span id="busuanzi_value_site_uv"></span>人
  	</span>
  <% } %>
</footer>
