<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <link rel="dns-prefetch" href="<%= config.url %>">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (is_home()){ %>
    <%# "辅助函数（Helpers）https://hexo.io/zh-cn/docs/helpers.html#%E6%9D%A1%E4%BB%B6%E5%87%BD%E6%95%B0" %>
    <!-- <meta name="keywords" content="<%=config.keywords%>">
    <meta name="description" content="<%=config.description%>"> -->
  <% } %>
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
  <% } %>
  <% if (theme.apple_touch_icon){ %>
    <link rel="apple-touch-icon" href="<%- url_for(theme.apple_touch_icon) %>">
  <% } %>
  <%- partial('css') %>
  <style type="text/css">
    <% var defaultCtnBg = 'linear-gradient(200deg,#a0cfe4,#e8c37e)'; %>
    #container.show {
      background: <%= theme.style && theme.style.slider ? theme.style.slider : defaultCtnBg %>;
    }
  </style>
  <%- partial('google-analytics') %>
  <%- partial('baidu-analytics') %>
  <% if (theme.clickLove && theme.clickLove.enable){ %>
    <%# "页面点击小红心" %>
 	  <script src="<%- url_for('lib/clickLove.js') %>"></script>
  <% } %>
  <%- partial('baidu-push') %>

  <% if (theme.progressBar.enable) { %>
    <script src="<%- url_for('lib/pace.min.js') %>"></script>
    <link href="//cdn.bootcss.com/pace/1.0.2/themes/<%= theme.progressBar.color || 'blue'%>/pace-theme-<%= theme.progressBar.type || 'minimal'%>.css" rel="stylesheet">
  <% } %>

</head>