<% var defaultBg = '#4d4d4d'; %>
<% var defaultBgImg = '/img/biubiubiu.gif'; %>
<% var overlayBgImg= theme.style.gif && theme.style.gif.enable && theme.style.gif.path ? theme.style.gif.path : defaultBgImg; %>
<div class="overlay" style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>;<% if (theme.style.gif && theme.style.gif.enable){ %>background: url('<%- url_for(overlayBgImg) %>') no-repeat ;<%}%>">

	<!--添加心知天气模块-->
	<div id="tp-weather-widget"></div>
	<script>
			(function(T, h, i, n, k, P, a, g, e) {
				g = function() {
					P = h.createElement(i);
					a = h.getElementsByTagName(i)[0];
					P.src = k;
					P.charset = "utf-8";
					P.async = 1;
					a.parentNode.insertBefore(P, a)
				};
				T["ThinkPageWeatherWidgetObject"] = n;
				T[n] || (T[n] = function() {
					(T[n].q = T[n].q || []).push(arguments)
				});
				T[n].l = +new Date();
				if (T.attachEvent) {
					T.attachEvent("onload", g)
				} else {
					T.addEventListener("load", g, false)
				}
			}(window, document, "script", "tpwidget", "//widget.thinkpage.cn/widget/chameleon.js"))
		</script>
		<script>
			tpwidget("init", {
				"flavor": "slim",
				"location": "WM6N2PM3WY2K",
				"geolocation": "enabled",
				"language": "zh-chs",
				"unit": "c",
				"theme": "chameleon",
				"container": "tp-weather-widget",
				"bubble": "enabled",
				"alarmType": "badge",
				"color": "#FFFFFF",
				"uid": "U88B4B2797",
				"hash": "c9d7cb43b80ffece52c9a1ebbfbca65f"
			});
			tpwidget("show");
		</script>
	<!--添加心知天气模块-->


</div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="<%- url_for('/') %>" class="profilepic">
			<img src="<%- url_for(theme.avatar) %>" class="js-avatar">
		</a>
		<hgroup>
			<h1 class="header-author"><a href="<%- url_for('/') %>"><%= config.author %></a></h1>
		</hgroup>
		<% if (config.subtitle) { %>
		<p class="header-subtitle"><%= config.subtitle %></p>
		<%}%>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>" <% if (theme.open_in_new.menu){ %>target="_blank"<% } %>><%= i %></a></li>
			<%}%>
			</ul>
		</nav>
		
		<nav>
			<a>总文章数 <%=site.posts.length%></a>
		</nav>

		<nav class="header-smart-menu">
			<% for (var i in theme.smart_menu){ %>
				<% if(theme.smart_menu[i]){ %>
					<a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
				<% } %>
			<%}%>
		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subNav){ %>
					<% for (var nav in theme.subNav[i]){ %>
						<a class="<%= nav %>" href="<%- url_for(theme.subNav[i][nav]) %>" 
												title="<% if (__('subNav.title.'+ nav)){ %><%= __('subNav.title.'+ nav) %><% } else { %><%= nav %><% } %>" <% if (theme.open_in_new.subNav){ %>target="_blank"<% } %>><i class="icon-<%= nav %>"></i></a>
					<%}%>
				<%}%>
			</div>
		<% if (theme.music && theme.music.enable){ %>
			<%# "网易云音乐插件" %>
			<%# "bottom:120px; left:auto;position:absolute;  width:85%" %>
			<% var defaultHeight = theme.music.type == 1 ? '32' : '66'; %>
			<% var defaultIframeHeight = theme.music.type == 1 ? '52' : '86'; %>
			<div>
				<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="240" height="<%=defaultIframeHeight%>" src="//music.163.com/outchain/player?type=2&id=<%=theme.music.id||1334445174%>&auto=<%=theme.music.autoPlay?1:0%>&height=<%=defaultHeight%>"></iframe>
			</div>
			<% if (theme.music.text || theme.music.text == null){ %>
				<% var musicText = ( theme.music.text == null || theme.music.text == true ) ? "这似乎是首纯音乐，请尽情的欣赏它吧！" : theme.music.text; %>
				<p style="font-size: 12px;"><%-musicText%><p>
			<% } %>
		<% } %>
		</nav>
	</header>		
</div>
