<% var defaultBg = '#4d4d4d'; %>
<% var defaultBgImg = '/img/biubiubiu.gif'; %>
<% var overlayBgImg= theme.style.gif && theme.style.gif.enable && theme.style.gif.path ? theme.style.gif.path : defaultBgImg; %>
<div class="overlay" style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>;<% if (theme.style.gif && theme.style.gif.enable){ %>background: url('<%- url_for(overlayBgImg) %>') no-repeat ;<%}%>"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="<%- url_for('/') %>" class="profilepic">
			<img src="<%- url_for(theme.avatar) %>" class="js-avatar">
		</a>
		<hgroup>
			<h1 class="header-author"><a href="<%- url_for('/') %>"><%= config.author %></a></h1>
		</hgroup>
		<% if (config.subtitle) { %>
		<p class="header-subtitle"><%= config.subtitle %></p>
		<%}%>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>" <% if (theme.open_in_new.menu){ %>target="_blank"<% } %>><%= i %></a></li>
			<%}%>
			</ul>
		</nav>
		<nav class="header-smart-menu">
			<% for (var i in theme.smart_menu){ %>
				<% if(theme.smart_menu[i]){ %>
					<a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
				<% } %>
			<%}%>
		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subNav){ %>
					<% for (var nav in theme.subNav[i]){ %>
						<a class="<%= nav %>" href="<%- url_for(theme.subNav[i][nav]) %>" 
												title="<% if (__('subNav.title.'+ nav)){ %><%= __('subNav.title.'+ nav) %><% } else { %><%= nav %><% } %>" <% if (theme.open_in_new.subNav){ %>target="_blank"<% } %>><i class="icon-<%= nav %>"></i></a>
					<%}%>
				<%}%>
			</div>
		<% if (theme.music && theme.music.enable){ %>
			<%# "网易云音乐插件" %>
			<%# "bottom:120px; left:auto;position:absolute;  width:85%" %>
			<% var defaultHeight = theme.music.type == 1 ? '32' : '66'; %>
			<% var defaultIframeHeight = theme.music.type == 1 ? '52' : '86'; %>
			<div>
				<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="240" height="<%=defaultIframeHeight%>" src="//music.163.com/outchain/player?type=2&id=<%=theme.music.id||1334445174%>&auto=<%=theme.music.autoPlay?1:0%>&height=<%=defaultHeight%>"></iframe>
			</div>
			<% if (theme.music.text || theme.music.text == null){ %>
				<% var musicText = ( theme.music.text == null || theme.music.text == true ) ? "这似乎是首纯音乐，请尽情的欣赏它吧！" : theme.music.text; %>
				<p style="font-size: 12px;"><%-musicText%><p>
			<% } %>
		<% } %>
		</nav>
	</header>		
</div>
